
$small_screen: 576px;
$medium_screen: 768px;
$large_screen: 992px;

$main_color: #292d41;
$main_accent_color: #191919; // accent
$accent_color: #964242;
$accent_accent_color: #b9313e; // accent on the accent
